<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=p, initial-scale=1.0">
    <title>yeppi yeppi</title>
</head>

<body>
    <p>안녕하세요!</p>
    <p>작동합니다!</p>
</body>
<div>
    <h1><a href="https://github.com/avocad06">Avocad06's Github</a></h1>
</div>

<div>
    <p>2022.10.01, 15:19에 작성하였습니다.</p>
    <h2><a href="">My first post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
        sit amet risus.</p>
</div>

<div>
    <p>2022.10.01, 15:20에 작성하였습니다.</p>
    <h2><a href="">My second post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
</div>

</html>